h1 {
	position:relative;
	font-family: Verdana;
	color: #129956;
	left: 50px;
	clear:bottom;

}


div {
	display: inline-block;
	margin: 5px;
	border: blue dashed 1px;
}

p {
	position: relative;
	bottom: 50px;
	left:30px;
	font-family: Verdana;
	color: #ffffff;
	font-weight: bold;
	font-size: 100%;
	border: dashed black 2px;

}

/*img {
	width: 100%;
	height: 100%;

}*/

